.digital-clock { 
    
    font-size: 10em; /*To change the size of the numbers*/
    max-width: 850px;  /*To change the width of the clock*/
    text-align: center; 
    border: 5px solid black; /*To change the border around the clock*/
    border-radius: 20px; /*To change how round the edges are*/
    background: -webkit-linear-gradient(80deg,rgb(238, 4, 4), #333,green,yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    
}

@keyframes bgani {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: rgb(178, 245, 178);}
  }

body{
    padding-left: 14rem;
    padding-top: 9rem;
    animation-name: bgani;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}



